<%# Mailer layouts are not currently used because Action Mailer is not loaded. %>
<%#
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Email styles would live here. */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
%>
